html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 4rem;
  margin-bottom: 8px;
  margin-top: 16px;
}

h2 {
  font-size: 2.5rem;
}

h2 a {
  font-size: inherit;
  text-decoration: none;
  color: inherit;
}

@media all and (max-width: 720px) and (max-resolution: 4dppx),
  all and (max-width: 720px) and (-webkit-max-device-pixel-ratio: 4) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}

p {
  font-size: 1rem;
  line-height: 1.3;
}

h1,
h2 {
  line-height: 1.1;
}

small {
  font-size: 0.618rem;
}

small a {
  font-size: 0.618rem;
}
